<ion-header>
  <ion-toolbar color="positive">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/(inventory:inventory)"></ion-back-button>
    </ion-buttons>

    <ion-title>Add User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="auth-page">
  <img src="http://placehold.it/300x100" />
  <form [formGroup]="createUserForm">
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!createUserForm.controls['email'].valid && createUserForm.controls['email'].touched">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!createUserForm.controls['email'].valid &&
           createUserForm.controls['email'].touched">
      <ion-label>Please enter a valid email address.</ion-label>
    </ion-item>

    <ion-button (click)="createUser(createUserForm)" expand="block" [disabled]="!createUserForm.valid">
      Add new User
    </ion-button>
  </form>
</ion-content>